.graphSelector {
  position: absolute;
  right: 0.5rem;
  bottom: 1.8rem;
  z-index: 100;
  font-size: var(--font-size-M);
}

.graphSelector::after {
  content: ' ';
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  width: 5px;
  height: 5px;
  transform: rotateZ(45deg);
}

.graphSelectorSelect {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--color-foreground-transparent);
  border-radius: 99px;
  background: var(--color-background);
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  color: white;

  /* font-size: $font-size-xxs-small; */
  text-transform: uppercase;
}

.graphSelectorSelect:focus {
  outline-width: 0;
  border-color: white;
}

.noEncounters {
  position: absolute;
  width: 300px;
  margin-left: -150px;
  left: 50%;
  top: 35%;
}
