.info {
  position: absolute;
  bottom: 0.5rem;
  left: 0.7rem;
  color: var(--color-foreground-transparent);
  font-size: var(--font-size-S);
  text-transform: uppercase;
  font-weight: bold;
}

.scale {
  margin-bottom: 0.3rem;
}
