.info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--color-foreground-transparent);
  font-size: var(--font-size-S);
  text-transform: uppercase;
  font-weight: bold;
}

.scale {
  margin-bottom: 4px;
}
