body {
  overflow: hidden;
  font-size: 1.6rem;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'sidebar map' 'sidebar timebar';
  background: var(--color-background);
  color: var(--color-foreground);
}

.sidebar {
  grid-area: sidebar;
  position: relative;
  z-index: 100;
  width: 320px;
  transition: width 0.15s;
}

._noSidebar {
  width: 0;
}

.map {
  grid-area: map;
  position: relative;
}

.timebar {
  grid-area: timebar;
}
