body {
  overflow: hidden;
  font-size: 1.6rem;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'map' 'timebar';
  background: var(--color-background);
  color: var(--color-foreground);
}

.map {
  grid-area: map;
  position: relative;
}

.timebar {
  grid-area: timebar;
}
